.container {
  margin: 0 auto;
  width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
}

.pageContainer {
  padding-left: 177px;
  padding-right: 102px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.columnContainerOne {
  width: 234px;
}

.columnContainerTwo {
  width: 203px;
}

.columnContainerThree {
  width: 284px;
}

.columnContainerFour {
  width: 220px;
}

.familyPhoto {
  margin-bottom: 22px;
}
