.reviewsSection {
  background-image: url('https://res.cloudinary.com/dmadhdzzm/image/upload/v1678353750/this-is-retoucher/backReview_fdty25.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.pageTitle {
  display: none;
  margin-top: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #c9c2af;
  margin-left: 37px;
}

.container {
  margin: 0 auto;
  width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
}

.laptop {
  padding-top: 217px;
  margin-left: 133px;
  width: 712px;
  height: 459px;
  background-image: url('https://res.cloudinary.com/dmadhdzzm/image/upload/v1678353750/this-is-retoucher/small_samsung_galaxy_tab_s7_74dbd026ab_1_oknpvr.jpg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.laptopContainer {
  margin: 0 auto;
  width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
}

.laptopScreen {
  margin-top: 14px;
  margin-left: 16px;
  width: 680px;
  height: 432px;
  background: #e1dccd;
  border-radius: 10px;
}

.gliderContainer {
  padding-top: 50px;
  margin-left: 45px;
  margin-right: 45px;
}

.reviewCard {
  display: flex;
  align-items: center;
}

.arrow {
  margin-top: 50px;
  width: 35px;
  height: 35px;
}

.reviewImage {
  width: 167px;
  height: 296px;
  border-radius: 10px;
}

@media screen and (min-width: 360.9px) and (max-width: 768px) {
  .container {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .laptopContainer {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 296px;
  }

  .pageTitle {
    display: block;
  }

  .reviewsSection {
    background-image: none;
  }

  .laptop {
    padding-top: 296px;
    margin-left: 0;
    width: 704px;
    height: 454px;
  }

  .laptopScreen {
    margin-top: 9px;
    margin-left: 12px;
  }
}
