.container {
  margin: 0 auto;
  width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
}

.pageTitle {
  display: none;
  margin-top: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #c9c2af;
  margin-left: 37px;
}

.pageContainer {
  padding-left: 65px;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.columnContainerOne {
  width: 252px;
}

.columnContainerTwo {
  width: 197px;
}

.columnContainerThree {
  width: 375px;
}

.columnContainerFour {
  width: 305px;
}

.magazinePhoto {
  margin-bottom: 20px;
}

.innerPhotoContainer .magazinePhoto {
  width: 179px;
}

.innerPhotoContainer {
  width: 375px;
  height: 263px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .container {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .pageTitle {
    display: block;
  }

  .pageContainer {
    padding-top: 122px;
    padding-left: 39px;
    padding-right: 0;
  }

  .columnContainerOne {
    width: 140px;
  }

  .columnContainerTwo {
    width: 109px;
  }

  .columnContainerThree {
    width: 208px;
  }

  .columnContainerFour {
    width: 169px;
  }

  .magazinePhoto {
    margin-bottom: 12px;
  }

  .innerPhotoContainer {
    max-width: 208px;
    height: 147px;
  }
}
