.container {
  margin: 0 auto;
  width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
}

.pageContainer {
  position: relative;
}

.photoOne {
  position: absolute;
  width: 758px;
  height: 492px;
  object-fit: contain;
  left: 246px;
  top: 33px;
  z-index: 1;
}

.photoTwo {
  position: absolute;
  width: 621px;
  height: 384px;
  object-fit: contain;
  left: 571px;
  top: 468px;
  z-index: 3;
}

.photoThree {
  position: absolute;
  width: 296px;
  height: 200px;
  object-fit: contain;
  left: 255px;
  top: 547px;
  z-index: 4;
}

.frameOne {
  position: absolute;
  left: 227px;
  top: 59px;
  width: 753px;
  height: 583px;
  z-index: 2;
  border: 3px solid #fff;
}

.frameTwo {
  position: absolute;
  width: 679px;
  height: 432px;
  left: 542px;
  top: 456px;
  z-index: 3;
  border: 2.5px solid #ffffff;
}

.frameThree {
  position: absolute;
  width: 345px;
  height: 187px;
  left: 230px;
  top: 579px;
  z-index: 3;
  border: 2px solid #858585;
}

.titleOne {
  position: absolute;
  left: -270px;
  top: 181px;

  font-family: 'Cambo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;

  color: #858585;

  transform: rotate(-90deg);
}

.titleTwo {
  position: absolute;
  right: 164px;
  bottom: 520px;

  font-family: 'Cambo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;

  color: #ffffff;

  transform: rotate(-90deg);
}

.titleThree {
  position: absolute;
  right: 75px;
  bottom: 430px;
  z-index: 4;

  font-family: 'Cambo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.125em;

  color: #adadad;
  z-index: 10;
}

.titleFour {
  position: absolute;
  left: -6px;
  bottom: -50px;
  z-index: 4;

  font-family: 'Cambo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.085em;

  color: #d6d6d6;
}
